!!! 5
%html
  %head
    - title = "Midwives of Discord"
    %title= title
    
    - desc = "Created by Obelion, Sickness, Bosko and Zeeraw, Midwives Of Discord is a band that blends Metal, Electro and Rap to come up with the freshest sounds it can!"
    
    %meta{ name: 'author', content: 'Zeeraw' }
    %meta{ name: 'description', content: desc }
    %meta{ name: 'keywords', content: 'zeeraw dawnblush dawn blush obelion bosko sickness midwives of discord midwivesofdiscord mlp metal dubstep music band guitar song rap synth gear cog steampunk' }
    %meta{ name: "viewport", :content => "user-scalable=no, width=device-width", :id => "view"}
    
    %meta{ property: 'og:url', content: "http://midwivesofdiscord.com" }
    %meta{ property: 'og:image', content: "http://" + env['SERVER_NAME'] + "/images/modlogo.png" }
    %meta{ property: 'og:type', content: "band" }
    %meta{ property: 'og:title', content: title }
    %meta{ property: 'og:description', content: desc }
    %meta{ property: 'og:site_name', content: title }
    
    // Google Apps Verification
    %meta{ name: "google-site-verification", content: "8gOf7olPI9O40oEQV4kViB5ORKGcNlU1i5UYaDspkO0" }
    // Google Webmaster Verification
    %meta{ name: "google-site-verification", content: "dUI1IcK96hYm5JKSMArbXCi1Jf6t6usEsojk5P2IGKE" }
    
    %script{ type: "text/javascript", src: '/_js/jquery.js' }
    %script{ type: "text/javascript", src: '/_js/jquery.transit.js' }
    %script{ type: "text/javascript", src: '/_js/softscroll.js' }
    %script{ type: "text/javascript", src: '/js/app.js' }
    %link{ rel: 'stylesheet', type: "text/css", href: '/css/app.css' }
    
    - if env['HTTP_HOST'] =~ /midwivesofdiscord.com/
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33554060-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .mod-effect.mod-effect-left
      %img#logo{ src: "/images/cog1.png" }
      %img#logo{ src: "/images/cog2.png" }
    .mod-effect.mod-effect-right
      %img#logo{ src: "/images/cog3.png" }
      %img#logo{ src: "/images/cog4.png" }
    .container
      %header
        %a.social-button#youtube{ href: 'http://www.youtube.com/user/midwivesofdiscord'}
        %a.social-button#facebook{ href: 'http://facebook.com/midwivesofdiscord'}
        %a{ href: '/' }
          %img#logo{ src: "/images/modlogo.png", title: "Midwives of Discord Logo" }
      %nav
        %a{ href: "#listen" }= "Listen"
        %a{ href: "#about" }= "About"
        %a{ href: "#press" }= "Press"
      .content= yield
      %footer
    
    
    