%section#listen{ name: "listen" }
  %h1= "Listen"
  %ul.album-list
    %li
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "100", :src => "http://bandcamp.com/EmbeddedPlayer/v=2/album=442045135/size=venti/bgcol=FFFFFF/linkcol=333333/transparent=true/", :style => "position: relative; display: block; width: 400px; height: 100px;", :width => "400"}
        %a{:href => "http://midwivesofdiscord.bandcamp.com/album/album-name-goes-here"} <ALBUM NAME GOES HERE> by Midwives Of Discord
      %span= "2012 / 09 / 14"


%section#about{ name: "about" }
  %h1= "About"
  %article
    %h3= "What is MoD ?"

    %p= "Formed in March 2012 by Bosko, Obelion and Sickness, Midwives Of Discord is it's own breed of musical project. Featuring musicians coming from completely different worlds adding their respective skill sets so the mix, MoD has grown into a daring band, creating the freshest sounds it can. The constant eagerness for improvement driving them to recruit a fourth member, Zeeraw, putting the last piece in place and enabling them to push their boundaries. " 

    %h3= "Anatomy ?"

    %p
      %strong= "Obelion"
      = "forms the skeleton of the band, his electronic music and piano playing are the foundations upon which the band builds it's music. From epic string arrangements, wholesome basses, powerful stabs to jagged beats, Obelion's classical music knowledge and piano expertise pushes him to write melodic music that never fails to amaze and inspire his bandmates."

    %p 
      %strong= "Bosko"
      = "represents the brain. Producing, mixing and brainstorming ideas for Obelion's songs is his forte. Once inspired, he relentlessly works to make the band's artistic vision come true, finding new ways to mix and transform sound. Bosko's true nerd nature really bursts out once he's behind his digital audio workstation. Providing his experience as a metal guitar player and singer, he also assists in writing lyrics."

    %p
      %strong= "Sickness"
      = "is the muscle, his lyrics and flow drive the point home. His strength lies in the quality of his texts, delivering emotion and dark ambiance. Sickness challenges himself on every song and really writes from the heart, making sure every syllable is true to the song before recording his lyrics."

    %p
      %strong="Zeeraw"
      = "is MoD's eyes. Said to be windows to the soul, this really does apply to Zeeraw. Reading his bandmate's wishes, he instinctively understands what his part needs to be. Bringing a touch of elegance through his voice, Zeeraw gives his best and carries the emotion of the songs."

%section#press
  %h1= "Press"
  .press-container
    %h3= "Do you need present Midwives of Discord in an article?"
    %p= "Here we have a press pack which includes vector logos, samples & a press book."
    %a.press-download{ href: "/" }
      = "Download Press Pack"
      / = " - "
      %strong= "( .zip )"
      
    %a.press-download{ href: "/" }
      = "Download Press Pack"
      / = " - "
      %strong= "( .rar )"